
    @media screen and (max-width: 600px) {

        /* NAV */
        nav {
            justify-content: space-between;
            padding: 0 1rem;
        }
    
        .nav-links {
            display: none;
            flex-direction: column;
            width: 100%;
            background-color: white;
            position: absolute;
            top: 10vh;
            left: 0;
            padding: 1rem 0;
        }
    
        .nav-links li {
            text-align: center;
            padding: 1rem 0;
        }
    
        .menu-icona {
            display: flex;
            margin-right: 15%;
        }
    
        .menu-toggle:checked ~ .nav-links {
            display: flex;
        }
    
    
        /* HOME */
    
        #home {
            background-position-x: 50%;
            background-position-y: 20px;
            height: 98vh;
    
        }
    
        .titolo-home {
            font-size: 200%;
          }
        
          .sottotitolo-home {
            font-size: 90%;
            margin: 8% auto;
          }
        
          .bottone-home {
            font-size: 90%;
            padding: 8px 16px;
          }
    
          @keyframes typing {
            from {
                width: 0
            }
        
            to {
                width: 90%
            }
        }
        
          .portfolio-scritta {
            font-size: 70%;
          }
        
          .fiore {
            font-size: 140%;
          }

          /* PROFILO */

          #profilo {
            flex-direction: column;
            padding-top: 25%;
            justify-content: center;
            align-items: center;
          }
        
          .foto-profilo,
          .testo-profilo {
            padding: 0;
          }

          .foto-profilo {
            display: flex;
            margin-top: 12%;
          }
        
          .foto-profilo-img {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            
          }

          .lavoro  {
            font-size: 150%;
          }

            /* COMPETENZE */

            #competenze {
                margin-top: -10%;
                
              }

            .skill-informatiche {
               padding-top: 2%;
               padding-bottom: 3%;
              }

            .informatica-titolo {
                color: #777779;
                font-weight: bold;
                margin-bottom: 8%;
               font-size: 150%;
              }


              .ticker-img{
                margin: 0 1.3%;
                width: 8%;
                
                
              }
           


        }
              

        @media screen and (max-width: 350px) {
            #competenze {
                margin-top: 30%;
              }

        }
    

    @media screen and (min-width: 768px) and (max-width: 1042px) {

        /* HOME */

        #home {
            background-position-x: 50%;
            background-position-y: 120px;
        }
        
        /* PROFILO */

        
     
    
    }