@media screen and (max-width: 600px) {
    nav {
        justify-content: space-between;
        padding: 0 1rem;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: white;
        position: absolute;
        top: 10vh;
        left: 0;
        padding: 1rem 0;
    }

    .nav-links li {
        text-align: center;
        padding: 1rem 0;
    }

    .menu-icona {
        display: flex;
        margin-right: 15%;
    }

    .menu-toggle:checked ~ .nav-links {
        display: flex;
    }
    }