@media screen and (max-width: 365px) {

    /* PROFILE */

    #profile {
        height: 100vh;
    }

    .profile-gap {
        height: 120px;
        background-position: center;
        background-size: cover;
        background-attachment: scroll;
    }

    .profile-photo {
        display: flex;
        margin-top: 10%;
        margin-right: 13%;

    }

    .profile-photo-img {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .personal-description {
        width: 65%;
    }


    /* IT SKILLS SECTION*/

    #skills {
        margin-top: 25%;
    }

    .skills-svg {
        position: absolute;
        top: -43%;
        left: 0;
        width: 100%;
        height: auto;
    }

    .ticker-img {
        margin: 3% 1.3%;
    }

    /* EDUCATION */

    .education-title {
        background-size: 65% 20%;
    }

    .education-title:hover {
        background-size: 65% 100%;
        background-position: 0% 100%;
    }

    /* CONTACT */

    #contact {
        height: 120vh;
        background-position: center;
        background-attachment: scroll;
    }

    .send-message-img {
        width: 50%;
    }

    .send-message-svg {
        right: -44%;
        bottom: -2%;
    }

    .contact-container {
        margin-top: 35%;
    }

/* FOOTER */

#footer {
    height: 20vh;
}

.footer-gap {
    height: 80px;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}

}

@media screen and (max-width: 767px) {

    /* NAV */
    nav {
        justify-content: space-between;
        padding: 0 1rem;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: white;
        position: absolute;
        top: 10vh;
        left: 0;
        padding: 1rem 0;
    }

    .nav-links li {
        text-align: center;
        padding: 1rem 0;
    }

    .menu-icona {
        display: flex;
        margin-right: 15%;
    }

    .menu-toggle:checked~.nav-links {
        display: flex;
    }

    .link:hover {
        color: #686767;
        box-shadow: inset 200px 0 0 0 #d8d8ff;
      }


    /* HOME */

    #home {
        background-position: center;
        background-size: cover;
        background-attachment: scroll;
        height: 100vh;
    }

    .home-title {
        font-size: 200%;
    }

    .home-subtitle {
        font-size: 90%;
        margin: 8% auto;
    }

    .home-button {
        font-size: 90%;
        padding: 8px 16px;
    }

    @keyframes typing {
        from {
            width: 0
        }

        to {
            width: 90%
        }
    }

    .portfolio-text {
        font-size: 70%;
    }

    .flower {
        font-size: 140%;
    }

    /* PROFILE */

    #profile {
        flex-direction: column;
        padding-top: 15%;
        justify-content: center;
        align-items: center;
        height: 80vh;
        margin-bottom: 10%;
    }

    .profile-photo,
    .profile-text {
        padding: 2%;
    }

    .profile-photo {  
        align-self: flex-end;
        order: -1; 
        justify-content: center;
        margin-top: -20%;
        margin-right: 20%;

    }

    .profile-photo-img {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .job-title {
        font-size: 150%;
    }

    .personal-description {
        width: 70%;
        margin: 0 auto;
    }

    .profile-gap {
        height: 160px;
        background-position: center;
        background-size: cover;
        background-attachment: scroll;
      }


    /* IT SKILLS SECTION*/

    .it-skills {
        padding-top: 1%;
    }

    .it-skills-title {
        font-size: 150%;
    }


    .ticker-img {
        margin: 3% 1.7%;
        width: 10%;
    }


    /* EDUCATION */

    #education {
        flex-direction: column;
        height: auto;
    }

    .education-container {
        margin-right: 0;
        margin-left: 5%;
        margin-bottom: -5%;
    }

    .education-title {
        position: static;
        transform: none;
        margin-bottom: 20px;
        background-size: 50% 8px;
    }


    .education-title:hover {
        background-size: 55% 100%;
        background-position: 0% 100%;
    }

    .girl-phone {
        margin-left: 0;
        width: 90%;
    }


    /* CONTACT */

    #contact {
        overflow: hidden;
        height: 90vh;
        background-position: center;
        background-attachment: scroll;
    }

    .container-form {
        padding: 10px 40px;
    }

    .send-message-svg {
        right: -30%;
        bottom: 0.9%;
    }

    .send-message-img {
        width: 70%;
    }

    .contact-container {
        margin-top: 25%;
    }

    /* FOOTER */

    #footer {
        height: 15vh;
    }

    .container-footer {
        padding-top: 5%;

    }

    .footer-gap {
        height: 100px;
        background-position: center;
        background-size: cover;
        background-attachment: scroll;
    }

}


@media screen and (min-width: 768px) and (max-width: 900px) {

    /* EDUCATION */

    #education {
        flex-direction: column;
        height: auto;
    }

    .education-container {
        margin-right: 0;
        margin-left: -25%;

    }

    .education-title {
        position: static;
        transform: none;
        margin-bottom: 5%;
        background-size: 28% 8px;
    }

    .education-title:hover {
        background-size: 30% 100%;

    }

    .girl-phone {
        margin-left: 0;
        width: 60%;
    }

    /* CONTACT */

    #contact {
        background-position: center;
        background-attachment: scroll;
        height: 85vh;
    }

    .send-message-svg {
        right: 5%;
        bottom: 20%;
    }

    /* FOOTER */

    #footer {
        height: 13vh;
    }

    .container-footer {
        padding-top: 2%;
    }
}


@media screen and (min-width: 768px) and (max-width: 1042px) {

    /* HOME */

    #home {
        background-position-x: 50%;
        background-position-y: 120px;
    }

    /* PROFILE */

    .profile-text {
        padding-right: 30%;
    }

    .profile-photo {
        margin-right: 10%;

    }

    .personal-description {
        width: 75%;
    }

    /* EDUCATION */

    .education-title {
        background-size: 37% 10px;
    }

    .education-title:hover {
        background-size: 40% 100%;
        background-position: 0% 100%;
    }
}